@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

/* *GLOBAL STYLES */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Fredoka", sans-serif;
}

:root {
	/* colors */
	--tainted-sephia: hsl(43, 76%, 90%);
	--red: hsl(0, 77%, 55%, 0.87);
	--green: hsla(101, 100%, 38%, 0.87);
	--light-grey: hsla(0, 0%, 86%, 0.99);
	--medium-grey: hsla(0, 0%, 50%, 0.99);

	--font-size-4: 0.25rem;
	--font-size-8: 0.5rem;
	--font-size-12: 0.75rem;
	--font-size-16: 1rem;
	--font-size-20: 1.25rem;
	--font-size-24: 1.5rem;
	--font-size-28: 1.75rem;
	--font-size-32: 2rem;
	--font-size-36: 2.25rem;
	--font-size-40: 2.5rem;
	--font-size-44: 2.75rem;
	--font-size-48: 3rem;
	--font-size-52: 3.25rem;
	--font-size-56: 3.5rem;
	--font-size-60: 3.75rem;
	--font-size-64: 4rem;
	--font-size-68: 4.25rem;
	--font-size-72: 4.5rem;
	--font-size-76: 4.75rem;
	--font-size-80: 5rem;
	--font-size-84: 5.25rem;
	--font-size-88: 5.5rem;
	--font-size-92: 5.75rem;
	--font-size-96: 6rem;
	--font-size-100: 6.25rem;

	/* font weight */
	--light: 350;
	--regular: 450;
	--semi-bold: 550;
	--bold: 650;
}

/* !GENERAL STYLES */

dialog {
	/* center all dialog boxes */
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	position: absolute; /* positioned relative to the viewport itself */
	width: 80%;
	border-radius: 20px;
	border: none;
	z-index: 2;
}

main {
	margin-top: 100px;
}

/* !MULTIPLE SELECTIONS */

html,
body,
main {
	height: 100%;
}

/* align items vertically and center them both ways */
.no-lists-cont,
.add-list-form,
.update-name-form,
.delete-list-form,
.cancel-add-list-btn,
.lists-header,
.no-items-cont,
.list-item,
.total-button-cont,
.add-items-form,
.delete-item-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.add-list-form,
.update-name-form,
.delete-list-form,
.delete-item-form {
	width: 80%;
	gap: 36px;
	text-align: center;

	/*centering this way because the parent (the dialog element) element can't use display flex or grid so as not to mess with native defaults  */
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.new-list-img,
.delete-list-img,
.delete-item-img {
	width: 200px;
	height: 200px;
}

/* input box base styles */
.list-name-input,
.new-name-input,
.item-data-input {
	width: 100%;
	padding: 8px 20px;
	font-size: var(--font-size-24);
	outline: 0;
	background-color: var(--light-grey);
	border: 0;
	border-radius: 6px;
	height: 65px;
}

/* button containers */
.add-list-form-buttons,
.update-list-buttons,
.delete-list-buttons,
.delete-item-buttons,
.item-form-buttons {
	display: flex;
	justify-content: space-between;
	gap: 36px;
	width: 100%;
}

/* buttons inside button containers */

/* button base styles */
.create-list-btn,
.add-list-form-buttons > button,
.open-and-delete-cont > * /*targets both <a/> and <button> inside*/,
.update-list-buttons > button,
.delete-list-buttons > button,
.delete-item-buttons > button,
.item-form-buttons > button,
.first-add-item-btn {
	font-weight: var(--regular);
	color: white;
	padding: 16px 0;
	border: 0;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--font-size-32);
	width: 100%;
	height: 65px;
}

.add-list-submitter,
.change-name-submitter,
.first-add-item-btn,
.add-item-submitter,
.cancel-delete-list-btn,
.cancel-delete-item-btn,
.update-item-submitter {
	background-color: var(--green);
}

.cancel-add-list-btn,
.cancel-change-btn,
.confirm-delete-list-btn,
.confirm-delete-item-btn,
.cancel-add-item-btn {
	background-color: var(--red);
}

.name-list-label,
.delete-list-heading,
.delete-item-heading {
	font-size: var(--font-size-44);
	font-weight: var(--bold);
}

.delete-list-warning,
.delete-item-warning {
	font-size: var(--font-size-28);
	color: var(--red);
}

.no-lists-text,
.no-items-text {
	font-weight: var(--bold);
	font-size: var(--font-size-44);
}

.add-list-dialog,
.delete-list-dialog,
.delete-item-dialog {
	max-width: 1000px;
	height: 630px;
}

/* !SPECIFIC STYLES */

body {
	background-color: var(--tainted-sephia);
}

header {
	background-color: green;
}

/* *------------LISTS PAGE--------------------- */

.no-lists-cont {
	max-width: 434px;
	gap: 32px;
	margin: 0 auto;
}

.create-list-btn {
	font-size: var(--font-size-28);
	background-color: var(--green);
	width: 100%;
}

#no-lists-img {
	width: 100%;
}

header {
	background-color: var(--green);
	height: 100px;
}

h1 {
	font-weight: var(--semi-bold);
	font-size: var(--font-size-52);
	color: white;
}

.lists-and-add-button-cont {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
}

.add-list-btn {
	display: block;
	margin-left: auto;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	border: 0;
}

.lists-cont {
	display: flex;
	margin-top: 40px;
	flex-direction: column;
	gap: 28px;
}

.list-cont {
	list-style: none;
	background-color: white;
	border-radius: 20px;
	padding: 24px 20px;
	cursor: grab;
}

/* both containers inside list content */
.list-content {
	display: flex;
	flex-direction: column;
	gap: 28px;
}

.name-and-edit {
	display: flex;
	justify-content: space-between;
	align-items: start;
}

.list-name {
	font-weight: var(--bold);
	font-size: var(--font-size-36);
}

.edit-btn {
	border: 0;
	background-color: transparent;
	width: fit-content;
}

.list-item-bottom {
	display: flex;
	justify-content: space-between;
	align-items: start;
}

.created-and-opened-dates {
	display: flex;
	flex-direction: column;
	gap: 12px;
	font-weight: var(--regular);
}

.created-and-opened-dates > .date {
	font-size: 20px;
	color: var(--red);
}

.open-and-delete-cont {
	display: flex;
	justify-content: end;
	align-items: end;
	gap: 20px;
}

.open-btn,
.delete-list-btn {
	width: 200px;
	height: 50px;
	font-size: var(--font-size-28);
}

.open-btn {
	text-decoration: none;
	background-color: var(--green);
}

.delete-list-btn {
	background-color: var(--red);
}

.update-name-dialog {
	max-width: 1000px;
	height: 300px;
}

/* *------------LIST PAGE--------------------- */

.add-items-dialog {
	width: 90%;
	max-width: 1000px;
	height: 700px;
	padding: 80px 20px 20px;
}

.close-add-item-form {
	top: 20px;
	right: 20px;
	position: absolute;
	background-color: transparent;
	border: 0;
}

/* a flex container */
.add-items-form {
	height: 100%;
	width: 100%;
	justify-content: space-between;
}

.add-items-form > div:not(.item-form-buttons) {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.add-item-label {
	font-size: var(--font-size-28);
}

.list-header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-content,
.items-main {
	width: 90%;
	max-width: 1500px;
}

.header-content {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.back-btn {
	display: flex;
	align-items: center;
	position: absolute;
	left: 0;
}

.items-main {
	margin-left: auto;
	margin-right: auto;
}

.no-items-cont {
	width: 400px;
	margin: 0 auto;
	gap: 32px;
}

.no-items-img {
	width: 100%;
}

.items-and-add-btn-cont {
	/* margin: 0 auto; */
	width: 100%;
}

.main-add-item-btn {
	width: 100%;
	height: 65px;
	font-size: var(--font-size-24);
	border: 0;
	background-color: white;
	border-radius: 6px;
}

.main-add-item-btn > span {
	color: var(--medium-grey);
}

.list-item {
	cursor: grab;
}

.list-item,
.total-button-cont {
	background-color: white;
	list-style-type: none;
	padding: 20px 0;
}

.total-button-cont {
	height: 120px;
	margin-top: 6px;
}

.add-button-wrapper,
.list-item-wrapper {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95%;
}

.total-button-wrapper {
	display: flex;
	justify-content: space-between;
	border: 2px solid;
}

.list-and-total-cont {
	margin-top: 20px;
}

.items-cont {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.list-item:first-child {
	border-radius: 10px 10px 0px 0px;
}

.list-item:not(:first-child) {
	border-radius: 0;
}

.check-and-description {
	display: flex;
	gap: 28px;
	width: 350px;
}

.check {
	width: 41px;
	height: 33px;
	-webkit-appearance: none; /* For WebKit browsers like Chrome, Safari */
	-moz-appearance: none; /* For Mozilla browsers like Firefox */
	appearance: none; /*Standard property */
	border: 2px solid var(--green);
	border-radius: 5px;
}

.check:checked::before {
	content: "✓";
	display: block;
	color: var(--green);
	font-size: 16px;
	margin-top: 4px;
	text-align: center;
}

.name-and-description {
	width: 100%;
}

.item-name {
	margin-top: -6px;
	font-size: var(--font-size-28);
	font-weight: 400;
}

.description {
	margin-top: 12px;
	font-size: var(--font-size-20);
	color: var(--medium-grey);
	font-weight: var(--light);
}

.price-and-quantity {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 300px;
}

.price-cont {
	font-size: var(--font-size-28);
	color: var(--green);
}

.quantity-controls {
	display: flex;
	align-items: center;
	gap: 20px;
}

.minus-btn,
.plus-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: transparent;
	height: 35px;
	width: 35px;
}

.quantity {
	font-size: var(--font-size-24);
}

.edit-and-delete-btn {
	display: flex;
	gap: 20px;
	align-items: center;
}

.edit-item-btn,
.delete-item-btn {
	display: flex;
	align-items: center;
	border: none;
	background-color: transparent;
}

.delete-item-btn > svg {
	fill: var(--red);
}

.total-button-cont {
	border-radius: 0px 0px 10px 10px;
	height: 120px;
}

.total-text > span:first-child {
	margin-right: 20px;
}

.total-text,
.total-figure {
	font-weight: var(--semi-bold);
	font-size: var(--font-size-44);
}

.total-figure {
	color: var(--green);
}

/* kept at the bottom so that no display style will override this one */
.display-none {
	display: none;
}
/* tablet size for list items */
@media (max-width: 950px) {
	/* styles for different lists */
	.name-and-edit {
		align-items: center;
	}
	.list-item-bottom {
		flex-direction: column;
		align-items: start;
		gap: 28px;
	}

	.open-and-delete-cont {
		width: 100%;
	}

	.open-btn,
	.delete-list-btn {
		width: 100%;
	}

	/* styles for list items */
	.list-item-wrapper {
		flex-direction: column;
		align-items: start;
	}

	.check-and-description,
	.price-and-quantity {
		width: 100%;
	}

	.edit-item-btn {
		width: 0;
		display: none;
	}

	.edit-and-delete-btn {
		border: 0;
	}

	.list-item-wrapper {
		position: relative;
		gap: 0;
	}

	.price-and-quantity {
		margin-top: 16px;
	}

	.price-cont {
		padding-left: 60px;
	}

	.total-text,
	.total-figure {
		font-size: var(--font-size-44);
	}

	.delete-item-btn {
		top: 0;
		right: 0;
		position: absolute;
	}
}

/* !TABLET SIZE */
@media (max-width: 768px) {
	/* add items dialog */
	dialog {
		height: 95vh;
	}

	.new-list-img,
	.delete-list-img,
	.delete-item-img {
		width: 150px;
		height: 150px;
	}

	.list-name-input,
	.new-name-input {
		text-align: center;
	}

	.add-list-form-buttons,
	.update-list-buttons,
	.delete-item-buttons,
	.delete-list-buttons {
		flex-direction: column;
		width: 100%;
	}

	.header-content {
		justify-content: space-between;
		align-items: center;
	}

	.list-h1 {
		font-size: var(--font-size-44);
	}

	.back-btn {
		position: static;
		order: 2;
		margin-top: 8px;
	}
}

/* !SMALL DEVICES (MOST PHONES) */
@media (max-width: 480px) {
	.no-lists-cont {
		width: 90%;
	}
	#no-lists-text {
		font-size: var(--font-size-32);
	}

	header {
		height: 80px;
	}

	.list-h1 {
		font-size: var(--font-size-28);
	}

	.name-list-label {
		font-size: var(--font-size-28);
	}

	.list-name-input {
		height: 55px;
	}
	.add-list-form-buttons {
		gap: 16px;
	}

	.add-list-btn,
	.cancel-add-list-btn {
		height: 55px;
		font-size: var(--font-size-24);
	}

	.list-cont {
		padding-top: 60px;
		padding-bottom: 24px;
		position: relative;
	}

	.name-and-edit {
		justify-content: center;
	}

	.list-item-bottom {
		align-items: center;
		text-align: center;
	}

	.list-name {
		font-size: clamp(1.5rem, 10vw + -0.5rem, 2.5rem);
	}

	.edit-btn {
		top: 20px;
		right: 15px;
		position: absolute;
	}

	.open-and-delete-cont {
		flex-direction: column;
	}

	.home-icon {
		width: 40px;
		height: 40px;
	}

	.name-list-label,
	.delete-list-heading,
	.delete-item-heading {
		font-size: var(--font-size-32);
	}

	.delete-list-warning,
	.delete-item-warning {
		font-size: var(--font-size-24);
	}

	.lists-h1 {
		font-size: var(--font-size-40);
	}

	.price-cont {
		font-size: var(--font-size-24);
	}

	.main-add-item-btn {
		font-size: var(--font-size-20);
	}

	.total-button-cont {
		height: 100px;
	}

	.total-text,
	.total-figure {
		font-size: var(--font-size-32);
	}
}
