#close-add-item-form,
.item-data-input {
	margin-bottom: 20px;
}

#no-items-cont {
	border: 2px solid green;
}

#main-add-item-btn {
	width: 100%;
	text-align: start;
	margin-top: 50px;
}

li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid red;
	list-style: none;
	flex-wrap: wrap;
}

.price-and-quantity {
	border: 2px solid red;
	display: flex;
	gap: 16px;
}

.quantity-controls {
	display: flex;
	align-items: center;
	gap: 12px;
}

#total-cont {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
